html {
  justify-content: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'poppins', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

a,
button,
input,
textarea,
img,
.icon {
  transition: all 0.3s ease;
}

img {
  max-width: 100%;
  height: auto;
}

a img:hover {
  transform: scale(1.05);
}

main {
  margin: 0 auto;
  box-sizing: border-box;

  background-color: #1d1d1d;
  max-width: 1260px;
  padding-left: 9%;
  padding-right: 9%;

  position: relative;
  z-index: 1;
  margin-bottom: 555px;
}

.icon {
  display: block;
  height: 32px;
  width: 32px;

  &--phone {
    background-image: url(/src/images/Icon-Phone-call.png);
  }

  &--menu {
    background-image: url(/src/images/Icon-Burger-menu.png);
  }

  &--close {
    background-image: url(/src/images/Buttons.png);
  }
}

.header {
  background-image: url(/src/images/background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 36px 9%;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    color: #fff;
    display: flex;
    padding-top: 428px;
    padding-bottom: 203px;
    line-height: 100%;
    font-size: 80px;
    font-weight: 700;
    justify-content: center;
  }

  &__icons {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 32px;
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #c2c2c2;
  box-sizing: border-box;
  z-index: 100;
  padding: 36px 9%;

  transform: translateX(100%); /* Сховати меню праворуч */
  transition: transform 0.5s ease;
  overflow: auto;

  font-weight: 700;
  text-transform: uppercase;
}

.menu:target {
  transform: translateX(0);
}

body:has(.menu:target) {
  overflow: hidden;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 40px;
    margin-top: 60px;
  }

  &__link {
    font-size: 22px;
    line-height: 22px;
    color: #1d1d1d;
    text-decoration: none;
  }

  &__link:hover {
    border-bottom: 1px solid #1d1d1d;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__bottomT-1 {
    color: #1d1d1d;
    text-decoration: none;
    font-size: 16px;
  }
  &__bottomT-2 {
    color: #1d1d1d;
    text-decoration: none;
    font-size: 12px;
    border-bottom: 1px solid #1d1d1d;
    width: fit-content;
  }
}

.moveBlock {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  max-width: 933px;
  // margin-top: 120px;
  height: 96px;
  gap: 24px;
  color: #fff;
  flex-wrap: wrap;

  &__move {
    display: flex;
    font-size: 64px;
    font-weight: 500;
  }
  &__text {
    font-size: 23px;
    font-weight: 500;
    width: 498px;
  }
}

.compareBikes {
  margin-top: 164px;
  margin-bottom: 144px;
  color: #fff;
  justify-content: center;
}

.compare {
  display: flex;
  font-size: 64px;
  font-weight: 500;
  justify-content: center;
}

.bikes {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.bike1 {
  width: 324px;

  &__img {
    object-fit: contain;
    display: block;
    height: 256px;
    width: 324px;
  }
  &__title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  &__text {
    margin-bottom: 16px;
  }
}

.bike2 {
  width: 324px;

  &__img {
    object-fit: contain;
    display: block;
    height: 256px;
    width: 324px;
  }
  &__img:hover {
    transform: scale(1.05);
  }

  &__title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 16px;
  }
}

.bike3 {
  width: 324px;

  &__img {
    object-fit: contain;
    display: block;
    height: 256px;
    width: 324px;
  }
  &__img:hover {
    transform: scale(1.05);
  }

  &__title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 16px;
  }
}

.details {
  margin-bottom: 180px;
  max-width: 1260px;
  // padding-inline: 9%;
}

.detailsTitle {
  display: flex;
  color: #fff;
  font-size: 64px;
  font-weight: 500;
  justify-content: center;
}

.firstTitle {
  display: block;
  gap: 24px;
  justify-content: center;

  &__imgBlock {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  &__img1 {
    height: 320px;
    width: 672px;
  }
  &__img2 {
    height: 320px;
    width: 324px;
  }

  &__title {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    padding-top: 16px;
    padding-bottom: 8px;
  }
  &__text {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    padding-bottom: 48px;
    width: 672px;
  }
}

.secondTitle {
  display: block;
  gap: 24px;
  justify-content: center;

  &__imgBlock {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  &__img1 {
    height: 320px;
    width: 672px;
  }
  &__img2 {
    height: 320px;
    width: 324px;
  }

  &__title {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    padding-top: 16px;
    padding-bottom: 8px;
  }
  &__text {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    padding-bottom: 48px;
    width: 672px;
  }
}

.thirdTitle {
  display: block;
  gap: 24px;
  justify-content: center;

  &__imgBlock {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  &__img1 {
    height: 320px;
    width: 324px;
  }
  &__img2 {
    height: 320px;
    width: 672px;
  }

  &__title {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    padding-top: 16px;
    padding-bottom: 8px;
  }

  &__text {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    padding-bottom: 48px;
    width: 672px;
  }
}

.explore {
  width: 324px;
  height: 56px;
  display: flex;
  background-color: #fff;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  margin-inline: 348px;

  &__text {
    font-size: 16px;
    font-weight: 700;
  }
}

.contact {
  display: block;
  justify-content: center;

  &__title {
    justify-content: center;
    display: flex;
    font-weight: 600;
    font-size: 48px;
    color: #fff;
    margin-bottom: 48px;
  }

  &__content {
    display: flex;
    gap: 198px;
    flex-wrap: wrap;
    // justify-content: center;
  }

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__name-input {
    box-sizing: border-box;
    height: 48px;
    width: 411px;
    background-color: #fff;
    border-radius: 40px;
    margin-bottom: 16px;
    padding: 14px 352px 14px 16px;
  }

  &__email-input {
    box-sizing: border-box;
    height: 48px;
    width: 411px;
    background-color: #fff;
    border-radius: 40px;
    margin-bottom: 16px;
    padding: 14px 352px 14px 16px;
  }

  &__message-input {
    box-sizing: border-box;
    height: 148px;
    width: 411px;
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 16px;
    padding: 14px 16px;
  }

  &__button {
    box-sizing: border-box;
    width: 411px;
    height: 56px;
    display: flex;
    background-color: #fff;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 180px;
  }
}

.contacts {
  &__phone {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 8px;
  }

  &__number {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-top: 0;
    margin-bottom: 24px;
    text-decoration: none;
  }
  &__number:hover {
    color: lightgrey;
  }

  &__Email {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 8px;
  }

  &__text {
    color: #fff;
    margin-top: 0;
    margin-bottom: 24px;
    text-decoration: none;
  }

  &__text:hover {
    color: lightgrey;
  }
  &__Adresss {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 8px;
    margin-top: 0;
  }

  &__Address {
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 24px;
    text-decoration: none;
  }
  &__Address:hover {
    color: lightgrey;
  }
}
.bottom {
  background-image: url(/src/images/bottom.png);
  background-size: cover;
  height: 555px;
  width: 100%;
  max-width: 1260px;
  background-position: center;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;

  left: 50%;
  transform: translateX(-50%);
}

.bike1,
.bike2,
.bike3,
.explore,
.contact__name-input,
.contact__email-input,
.contact__message-input,
.contact__button {
  max-width: 100%;
}
